.header {
    height: 400px; 
    width: 100%;
    border: 0.7px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

video {
    height: 490px; 
    width: 100%; 
    border-radius: 20px;
    object-fit: cover; 
}
.brands{
    height: auto;
    width: 100%;
    border: 0.7px solid;
    border-radius: 20px;
    margin: 5px 0px 10px 0px;
}
.Home_page_image{
    height: 290px;
    width: 290px;
    border-radius: 20px;
    border: 1px solid;
    margin: 50px 40px 30px 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}
.HP_page_image{
    height: 290px;
    width: 290px;
    border-radius: 20px;
    border: 1px solid;
    margin: 50px 40px 30px 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.Hp_page_image{
    height: 290px;
    width: 290px;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 40px 40px 30px 60px;
}
.hp_page_image{
    height: 270px;
    width: 270px;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 40px 40px 30px 60px;
}
@media (min-width: 576px) and (max-width: 767px) {
    .hp_page_image{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        margin: 20px 20px 20px 20px;
    }
    .Hp_page_image{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        margin: 20px 20px 20px 20px;
    }
    .Home_page_image{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid;
        margin: 20px 20px 20px 20px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
    }
    .HP_page_image{
        height: 200px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid;
        margin: 20px 20px 20px 20px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    }
}

