.container {
    height: 350px;
    width: auto;
    border: 5px solid black; 
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
}
.image-container{
    height: 520px;
    width: 55%;
    border: 1px solid;
    border-radius: 20px;
    margin: 70px 50px 0px 60px;
}
.laptop-image{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    margin: 40px 20px 20px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
              -5px -5px 10px rgba(255, 255, 255, 0.5);
}
.login-section{
    height: 300px;
    width: 30%;
    border: 0.7px solid;
    border-radius: 30px;
    justify-content: center;
    margin: 150px 10px 20px 40px;
    text-align: center;
}
h1{
    margin-left: 10px;
}
input{
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: 2px solid;
}
.Login-btn{
    height: 30px;
    width: 120px;
    margin-left: 40px;
    font-size: 15px;
}
.Login-btn:hover{
    height: 30px;
    width: 120px;
   margin-left: 40px;
   font-size: 15px;
}
