ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(245, 239, 231);
    border: 1px solid;
}
li{
    list-style-type: none;
    padding: 10px;
}
@media (max-width: 768px) {
    ul{
        height: 200px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    li{
        margin-top: 10px;
    }
  }