@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
.heading-background{
    height: 580px;
    width: 100%;
    border-radius: 20px;
    border: 0.7px solid;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("./assets/software_developer.jpg");
    margin: 3px 0px 10px 0px;
}
h1{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:white;
    padding: 140px 0px 0px 20px;
    margin-left: 10px;
}
a{
    text-align: center;
}
.fa-download{
    font-size: 40px;
   margin-left: 600px;
   position: relative;
}

.resume{
    height: 260px;
    width: 100%;
    border-radius: 20px;
    border: 0.5px solid;

}
.resume-pdf{
    position: fixed;
}
h3{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-style: normal;
   
    font-size: 30px;
    color: rgb(29, 28, 26);
}
h5{
    text-align: center;
    
}
.role{
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite;
    margin: -25px 0px 0px -680px;
    font-size: 30px;
    font-variant:inherit;
}