.projects{
    height: 600px;
    width: 100%;
    border-radius: 20px;
    background-color: azure;
}
.project1{
    height: 230px;
    width: 40%;
    text-align: center;
    border-radius: 70px 0px 70px 0px;
    margin: 40px 0px 10px 100px;
    border: 0.7px solid;
    
}
.project2{
    height: 170px;
    width: 40%;
    text-align: center;
    border-radius: 70px 0px 70px 0px;
    margin: 40px 0px 0px 600px;
    border: 0.7px solid;
   
}
p{
    font-size: 16px;
}